<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>
	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Semantic Fuel</a>
			</div>
		</div>
	</nav>

	<div class="container" style="min-height: 500px">

		<div class=" row starter-template">
			<div class="col-12">
				<h1>Semantic Fuel</h1>
			</div>
			<div class="col-12" id="search-div">
				<form class="form-horizontal" id="search-form">
					<div class="form-group form-group-lg">
						<label class="col-sm-3 control-label" id="label-input"></label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="start" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-7 col-sm-5">
							<button type="submit" id="bth-search"
								class="btn btn-primary btn-block">Search</button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-12 display-none" id="div-fuel">
				<form class="form-horizontal" id="fuel-form">
					<div class="form-group form-group-lg">
						<label class="col-sm-3 control-label">Seleziona carburante:</label>
						<div class="col-sm-9">
							<select class="form-control" id="combobox"></select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-7 col-sm-5">
							<button type="submit" id="combobox-submit"
								class="btn btn-primary btn-block">Search</button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-12" id="feedback"></div>
		</div>
	</div>
	<!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript" src="webjars/jquery/2.2.4/jquery.min.js"></script>
	<script type="text/javascript" src="js/search-destination.js"></script>
</body>

</html>